.header {
    background: #882726;
    color: #f5e7d8;
    text-align: center;
}
.paragraph1 {
    display: flex;
    background: #bfbfbf;
    height: 100px;
    font-size: 25px;
    margin: 0;
    justify-content: center;
    align-items: center;

}
.paragraph2 {
    display: flex;
    background: #6394eb;
    height: 100px;
    font-size: 25px;
    margin: 0;
    align-items: center;
}
.box1 {
    background: #6ab967;
    height: 200px;
    width: 200px;
}
.box2 {
    background: #8785aa;
    height: 200px;
    width: 200px;
    border-radius: 10%;
}